:root {
  .disabled-text {
    color: rgba(0, 0, 0, 0.5);
  }

  .text-xxl {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .custom-footer {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(25, 155, 195, 1);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
  }

  .custom-stroke {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  @media (max-width: 768px) {
    .custom-stroke {
      stroke: 1px rgba(0, 0, 0, 1) !important;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
      letter-spacing: 0.2px;
    }
  }
}
