:root {
  .disabled-text {
    color: rgba(0, 0, 0, 0.5);
  }

  .text-xxl {
    font-size: 1.5rem;
    font-weight: 800;
  }

  .custom-footer {
    font-size: 1rem;
    font-weight: 500;
    color: rgba(25, 155, 195, 1);
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
  }
}
