:root {
  --app-background: url("/images/paper-texture.jpg");
}

.app-layout {
  background-image: var(--app-background);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
